In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
from matplotlib import pyplot as plt

In [3]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
from sklearn.model_selection import train_test_split
from imblearn.ensemble import BalancedRandomForestClassifier
from imblearn.ensemble import EasyEnsembleClassifier

# Read the CSV and Perform Basic Data Cleaning

In [4]:
# https://help.lendingclub.com/hc/en-us/articles/215488038-What-do-the-different-Note-statuses-mean-

columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", "next_pymnt_d",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"
]

target = ["loan_status"]

In [5]:
# Load the data
file_path = Path('LoanStats_2019Q1.csv')
df = pd.read_csv(file_path, skiprows=1)[:-2]
df = df.loc[:, columns].copy()

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

# Remove the `Issued` loan status
issued_mask = df['loan_status'] != 'Issued'
df = df.loc[issued_mask]

# convert interest rate to numerical
df['int_rate'] = df['int_rate'].str.replace('%', '')
df['int_rate'] = df['int_rate'].astype('float') / 100


# Convert the target column values to low_risk and high_risk based on their values
x = {'Current': 'low_risk'}   
df = df.replace(x)

x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
df = df.replace(x)

df.reset_index(inplace=True, drop=True)

df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

# Split the Data into Training and Testing

In [6]:
# Create our features
df_d = pd.get_dummies(df)

X = df_d.drop(['loan_status_high_risk','loan_status_low_risk'], axis=1)

# Create our target
y = df_d['loan_status_high_risk']

In [7]:
y.tail()

68812    0
68813    0
68814    0
68815    0
68816    0
Name: loan_status_high_risk, dtype: uint8

In [8]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,issue_d_Mar-2019,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.0,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.0,68817.0
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.177238,1.0,0.123879,0.876121,0.383161,0.616839,0.860340,0.139660,1.0,1.0
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.381873,0.0,0.329446,0.329446,0.486161,0.486161,0.346637,0.346637,0.0,0.0
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.0,1.0
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.0,1.0
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,0.000000,1.0,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.0,1.0
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0

In [9]:
# Check the balance of our target values
y.value_counts()

0    68470
1      347
Name: loan_status_high_risk, dtype: int64

In [10]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68817 entries, 0 to 68816
Data columns (total 95 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   loan_amnt                            68817 non-null  float64
 1   int_rate                             68817 non-null  float64
 2   installment                          68817 non-null  float64
 3   annual_inc                           68817 non-null  float64
 4   dti                                  68817 non-null  float64
 5   delinq_2yrs                          68817 non-null  float64
 6   inq_last_6mths                       68817 non-null  float64
 7   open_acc                             68817 non-null  float64
 8   pub_rec                              68817 non-null  float64
 9   revol_bal                            68817 non-null  float64
 10  total_acc                            68817 non-null  float64
 11  out_prncp                            68817 non-null  float64
 12  out_prncp_inv                        68817 non-null  float64
 13  total_pymnt                          68817 non-null  float64
 14  total_pymnt_inv                      68817 non-null  float64
 15  total_rec_prncp                      68817 non-null  float64
 16  total_rec_int                        68817 non-null  float64
 17  total_rec_late_fee                   68817 non-null  float64
 18  recoveries                           68817 non-null  float64
 19  collection_recovery_fee              68817 non-null  float64
 20  last_pymnt_amnt                      68817 non-null  float64
 21  collections_12_mths_ex_med           68817 non-null  float64
 22  policy_code                          68817 non-null  float64
 23  acc_now_delinq                       68817 non-null  float64
 24  tot_coll_amt                         68817 non-null  float64
 25  tot_cur_bal                          68817 non-null  float64
 26  open_acc_6m                          68817 non-null  float64
 27  open_act_il                          68817 non-null  float64
 28  open_il_12m                          68817 non-null  float64
 29  open_il_24m                          68817 non-null  float64
 30  mths_since_rcnt_il                   68817 non-null  float64
 31  total_bal_il                         68817 non-null  float64
 32  il_util                              68817 non-null  float64
 33  open_rv_12m                          68817 non-null  float64
 34  open_rv_24m                          68817 non-null  float64
 35  max_bal_bc                           68817 non-null  float64
 36  all_util                             68817 non-null  float64
 37  total_rev_hi_lim                     68817 non-null  float64
 38  inq_fi                               68817 non-null  float64
 39  total_cu_tl                          68817 non-null  float64
 40  inq_last_12m                         68817 non-null  float64
 41  acc_open_past_24mths                 68817 non-null  float64
 42  avg_cur_bal                          68817 non-null  float64
 43  bc_open_to_buy                       68817 non-null  float64
 44  bc_util                              68817 non-null  float64
 45  chargeoff_within_12_mths             68817 non-null  float64
 46  delinq_amnt                          68817 non-null  float64
 47  mo_sin_old_il_acct                   68817 non-null  float64
 48  mo_sin_old_rev_tl_op                 68817 non-null  float64
 49  mo_sin_rcnt_rev_tl_op                68817 non-null  float64
 50  mo_sin_rcnt_tl                       68817 non-null  float64
 51  mort_acc                             68817 non-null  float64
 52  mths_since_recent_bc                 68817 non-null  float64
 53  mths_since_recent_inq                68817 non-null  float64
 54  num_accts_ever_120_pd                68817 non-null  float64
 55  num_actv_bc_tl                       68817 non-null  float64
 56  num_actv_rev_tl                      68817 non-null  float64
 57  num_bc_sats                          68817 non-null  float64
 58  num_bc_tl                            68817 non-null  float64
 59  num_il_tl                            68817 non-null  float64
 60  num_op_rev_tl                        68817 non-null  float64
 61  num_rev_accts                        68817 non-null  float64
 62  num_rev_tl_bal_gt_0                  68817 non-null  float64
 63  num_sats                             68817 non-null  float64
 64  num_tl_120dpd_2m                     68817 non-null  float64
 65  num_tl_30dpd                         68817 non-null  float64
 66  num_tl_90g_dpd_24m                   68817 non-null  float64
 67  num_tl_op_past_12m                   68817 non-null  float64
 68  pct_tl_nvr_dlq                       68817 non-null  float64
 69  percent_bc_gt_75                     68817 non-null  float64
 70  pub_rec_bankruptcies                 68817 non-null  float64
 71  tax_liens                            68817 non-null  float64
 72  tot_hi_cred_lim                      68817 non-null  float64
 73  total_bal_ex_mort                    68817 non-null  float64
 74  total_bc_limit                       68817 non-null  float64
 75  total_il_high_credit_limit           68817 non-null  float64
 76  home_ownership_ANY                   68817 non-null  uint8
 77  home_ownership_MORTGAGE              68817 non-null  uint8
 78  home_ownership_OWN                   68817 non-null  uint8
 79  home_ownership_RENT                  68817 non-null  uint8
 80  verification_status_Not Verified     68817 non-null  uint8
 81  verification_status_Source Verified  68817 non-null  uint8
 82  verification_status_Verified         68817 non-null  uint8
 83  issue_d_Feb-2019                     68817 non-null  uint8
 84  issue_d_Jan-2019                     68817 non-null  uint8
 85  issue_d_Mar-2019                     68817 non-null  uint8
 86  pymnt_plan_n                         68817 non-null  uint8
 87  initial_list_status_f                68817 non-null  uint8
 88  initial_list_status_w                68817 non-null  uint8
 89  next_pymnt_d_Apr-2019                68817 non-null  uint8
 90  next_pymnt_d_May-2019                68817 non-null  uint8
 91  application_type_Individual          68817 non-null  uint8
 92  application_type_Joint App           68817 non-null  uint8
 93  hardship_flag_N                      68817 non-null  uint8
 94  debt_settlement_flag_N               68817 non-null  uint8
dtypes: float64(76), uint8(19)
memory usage: 41.1 MB

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
X_train.shape

(51612, 95)

# Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble AdaBoost classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Print the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier onely, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [12]:
# Resample the training data with the BalancedRandomForestClassifier

#build model
brf = BalancedRandomForestClassifier(n_estimators=100, random_state=0)
#train model
brf.fit(X_train, y_train)

#make predictions
y_pred = brf.predict(X_test)

results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head(20)

    Prediction  Actual
0            0       0
1            1       0
2            0       0
3            0       0
4            0       0
5            0       0
6            0       0
7            0       0
8            0       0
9            0       0
10           0       0
11           0       0
12           0       0
13           0       0
14           0       0
15           1       0
16           0       0
17           0       0
18           0       0
19           1       0

In [13]:
# Calculated the balanced accuracy score
print(balanced_accuracy_score(y_test, y_pred))

0.7651872296677751

In [14]:
# Display the confusion matrix
matrix = confusion_matrix(y_test, y_pred)
print(matrix)

[[15168  1936]
 [   36    65]]

In [15]:
# Print the imbalanced classification report
report = classification_report_imbalanced(y_test, y_pred)
print(report)

                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.89      0.64      0.94      0.76      0.58     17104
          1       0.03      0.64      0.89      0.06      0.76      0.56       101

avg / total       0.99      0.89      0.64      0.93      0.76      0.58     17205

In [16]:

print(X_train.shape)

(51612, 95)

In [17]:
# List the features sorted in descending order by feature importance
 
importances = brf.feature_importances_

# Sort the feature importance in descending order

sorted_indices = np.argsort(importances)[::-1]
 
feat_labels = X.columns[1:]
 
for f in range(len(X_train.columns) -1 ):
    print("%2d) %-*s %f" % (f + 1, 30, feat_labels[sorted_indices[f]], importances[sorted_indices[f]]))

 1) total_rec_int                  0.074684
 2) total_rec_late_fee             0.062643
 3) total_rec_prncp                0.059779
 4) total_pymnt_inv                0.057804
 5) collections_12_mths_ex_med     0.048180
 6) installment                    0.032537
 7) issue_d_Mar-2019               0.020127
 8) out_prncp_inv                  0.017776
 9) total_pymnt                    0.017652
10) annual_inc                     0.017448
11) delinq_2yrs                    0.016898
12) total_acc                      0.016708
13) open_acc_6m                    0.016162
14) open_rv_12m                    0.015934
15) num_accts_ever_120_pd          0.015765
16) pymnt_plan_n                   0.015258
17) total_bal_il                   0.015123
18) mo_sin_old_rev_tl_op           0.015022
19) mo_sin_rcnt_rev_tl_op          0.014865
20) all_util                       0.014761
21) total_il_high_credit_limit     0.014501
22) total_bal_ex_mort              0.014409
23) total_bc_limit                 0.014261
24) il_util                        0.014202
25) mths_since_recent_inq          0.014058
26) inq_fi                         0.013954
27) bc_open_to_buy                 0.013940
28) dti                            0.013650
29) bc_util                        0.013161
30) int_rate                       0.011285
31) total_cu_tl                    0.011211
32) out_prncp                      0.011131
33) num_op_rev_tl                  0.010596
34) total_rev_hi_lim               0.010319
35) home_ownership_ANY             0.010293
36) mo_sin_rcnt_tl                 0.010249
37) num_il_tl                      0.009839
38) recoveries                     0.009683
39) chargeoff_within_12_mths       0.009607
40) acc_open_past_24mths           0.009221
41) pct_tl_nvr_dlq                 0.008852
42) num_rev_tl_bal_gt_0            0.008814
43) percent_bc_gt_75               0.008719
44) num_sats                       0.008310
45) pub_rec                        0.008061
46) num_tl_120dpd_2m               0.007818
47) inq_last_12m                   0.007724
48) pub_rec_bankruptcies           0.007678
49) avg_cur_bal                    0.007561
50) num_rev_accts                  0.007492
51) num_bc_sats                    0.007241
52) mort_acc                       0.007129
53) num_actv_rev_tl                0.006921
54) max_bal_bc                     0.006466
55) open_act_il                    0.006351
56) open_il_12m                    0.006184
57) mths_since_rcnt_il             0.006152
58) num_bc_tl                      0.005946
59) open_acc                       0.005085
60) application_type_Individual    0.004958
61) mths_since_recent_bc           0.004741
62) open_il_24m                    0.004496
63) next_pymnt_d_May-2019          0.004431
64) issue_d_Jan-2019               0.003865
65) open_rv_24m                    0.003648
66) tot_cur_bal                    0.003358
67) num_actv_bc_tl                 0.003311
68) inq_last_6mths                 0.002684
69) hardship_flag_N                0.002569
70) verification_status_Source Verified 0.002193
71) home_ownership_OWN             0.001985
72) verification_status_Verified   0.001874
73) initial_list_status_w          0.001770
74) home_ownership_RENT            0.001645
75) tax_liens                      0.001591
76) revol_bal                      0.001416
77) application_type_Joint App     0.001397
78) verification_status_Not Verified 0.001146
79) next_pymnt_d_Apr-2019          0.001129
80) num_tl_op_past_12m             0.001034
81) issue_d_Feb-2019               0.000712
82) policy_code                    0.000467
83) home_ownership_MORTGAGE        0.000255
84) delinq_amnt                    0.000126
85) num_tl_30dpd                   0.000000
86) initial_list_status_f          0.000000
87) collection_recovery_fee        0.000000
88) last_pymnt_amnt                0.000000
89) acc_now_delinq                 0.000000
90) tot_coll_amt                   0.000000
91) tot_hi_cred_lim                0.000000
92) mo_sin_old_il_acct             0.000000
93) debt_settlement_flag_N         0.000000
94) num_tl_90g_dpd_24m             0.000000

### Easy Ensemble AdaBoost Classifier

In [18]:
# Train the EasyEnsembleClassifier

#build model
enmodel = EasyEnsembleClassifier(n_estimators=100, random_state=0)
#train model
enmodel.fit(X_train, y_train)

#make predictions
y_pred_e = brf.predict(X_test)

results_e = pd.DataFrame({"Prediction": y_pred_e, "Actual": y_test}).reset_index(drop=True)
results_e.head(20)

    Prediction  Actual
0            0       0
1            1       0
2            0       0
3            0       0
4            0       0
5            0       0
6            0       0
7            0       0
8            0       0
9            0       0
10           0       0
11           0       0
12           0       0
13           0       0
14           0       0
15           1       0
16           0       0
17           0       0
18           0       0
19           1       0

In [19]:
# Calculated the balanced accuracy score

print(balanced_accuracy_score(y_test, y_pred_e))

0.7651872296677751

In [20]:
# Display the confusion matrix

matrix_e = confusion_matrix(y_test, y_pred_e)
print(matrix_e)

[[15168  1936]
 [   36    65]]

In [21]:
# Print the imbalanced classification report
report_e = classification_report_imbalanced(y_test, y_pred_e)
print(report_e)

                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.89      0.64      0.94      0.76      0.58     17104
          1       0.03      0.64      0.89      0.06      0.76      0.56       101

avg / total       0.99      0.89      0.64      0.93      0.76      0.58     17205